
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="icon" href="icone.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Cadastro</title>
</head>
<body>
<div style="margin-top: 3%" class="container">
    <div th:if=" ${mensagem} " th:utext=" ${mensagem} "></div>
    <h1 class="col-sm 4 mt-5">Cadastro de Visitante</h1>
    <div class="container">
        <form action="/cadastro" method="post">
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="sp-nome"><i class="fa-solid fa-user-large"></i></span>
                        <input id="nome" name="nome" type="text" class="form-control" placeholder="Nome"
                               aria-label="Nome" th:value="${nome}" aria-describedby="sp-nome">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="sp-cpf"><i class="fa-solid fa-id-card"></i></i></span>
                        <input id="cpf" name="cpf" type="text" class="form-control" placeholder="Cpf"
                               aria-label="Cpf" th:value="${cpf}" aria-describedby="sp-cpf">
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="input-group mb-4">
                        <span class="input-group-text" id="sp-email"><i class="fa-solid fa-envelope"></i></i></span>
                        <input id="email" name="email" type="text" class="form-control" placeholder="e-mail"
                               aria-label="email" th:value="${email}" aria-describedby="sp-email">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group mb-8">
                        <span class="input-group-text" id="sp-telefone"><i class="fa-solid fa-phone"></i></span>
                        <input id="telefone" name="telefone" type="text" class="form-control" placeholder="Telefone"
                               aria-label="Telefone" th:value="${telefone}" aria-describedby="sp-telefone">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="sp-senha"><i class="fa-solid fa-lock"></i></i></span>
                        <input id="senha" name="senha" type="password" class="form-control" placeholder="Senha"
                               aria-label="senha" th:value="${senha}" aria-describedby="sp-senha">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="sp-confimaSenha"><i class="fa-solid fa-lock"></i></i></span>
                        <input id="confirmaSenha" name="confirmaSenha" type="password" class="form-control"
                               placeholder="Confirmar Senha"
                               aria-label="confirmaSenha"  aria-describedby="sp-confirmaSenha">
                    </div>
                </div>
                <div class="col-sm-12 text-right">
                    <input value="Cadastre-se" Type="submit" class="btn btn-primary">
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>